/* --- Variables CSS --- */
:root{
    --dark-bg: #137C8B;
    --dark-bg-transparent: #137C8B;
    --color-dark: rgb(8, 8, 8);
    --color-white: #fff;
    --blue-bg: #7A90A4;
    --white-bg: #f1f1f1;
    --light-text: #709CA7;
    --hl-active-color: rgba(255, 255, 255, 0.5);

    scroll-behavior: smooth;
}



/* --- Style généraux --- */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--white-bg);
    color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

h1, .h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

h2, .h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

h3, .h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* --- "Framework" --- */
.container {
    padding-right: 15px;
    padding-left: 15px;
}


/* - Photo-Frame - */
.photo-frame {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
    overflow: hidden;
    width: 400px;
}

    .photo-frame img {
        width: 125%;
        
    }

    .photo-frame.portrait {
        flex-direction: column;
    }

        .photo-frame.portrait img {
            height: 125%;
            width: auto;
        }



/* --- Page --- */

/* --- Menu navigation/header --- */

header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
    font-size: 16px;
}

.nav-main-menu {
    background-color: var(--dark-bg);
    color: var(--light-text);
    height: 100%;
}

    .nav-main-menu > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        height: 100%;
    }

        .nav-main-menu > ul > li{
            flex-grow: 1;
            flex-basis: 50%;
        }
        
            .nav-main-menu > ul > li > a{
                display: block;
                padding:15px 0;
                text-align: center;
                text-decoration: none;
                height: 100%;
                font-weight: 700;
            }

                .nav-main-menu > ul > li > a:hover{
                    background-color: var(--dark-bg-transparent);
                    color: var(--color-white);
                }


                .nav-main-menu > ul > li > a:active {
                    background-color: var( --hl-active-color );
                }

    .none{
        display: none;
    }

    .msg{
        position: absolute;
        z-index: 1;
        font-size: 70px;
        color: #82aed87c;
        width: 300px;
        margin: auto;
    }


/* ---Main--- */


main>*{
    padding-top: 100px;
    padding-bottom: 50px;
}

    main>*:nth-child(odd){
        background-color: var(--blue-bg);
        color: var(--color-white);
    }

    main li{
        padding: 15px;
    }

    main h2{
        padding: 15px 15px 50px;
    }


/* -Presentation- */
.presentation{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    
}

    .avatar-picture{
        border-radius: 50%;
        overflow: hidden;
        width: 300px;
        height: 300px;
        background-color: #fefefe;

    }

    .top-presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .presentation h1{
        text-shadow: 2px 2px 0 rgb(155, 155, 155);
    }

    .info{
        padding-top: 15px;
    }

        .info li{
            padding: 15px;
        }

/* --- Compétences --- */

.language span i:hover{
    transform: rotate(3turn);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.html{
    color: rgb(236, 58, 3);
}

.css, .wp{
    color: rgb(27, 27, 255);
}

.js{
    color: rgb(230, 230, 12);
}

.php{
    color: rgb(81, 56, 128);
}

.react {
    color: #00d9ff;
}

.angular {
    color: red;
}

/* --- Diplome et compétences --- */

#diploma {
    padding-bottom: 120px;
}

/* --- Footer --- */

Footer{
    background-color: var(--dark-bg);
    color: var(--color-white);
}

    Footer p{
        padding: 30px;
    }
    .top-footer{
        text-align: center;
    }

    .bottom-footer{
        background-color: #333;
    }

/* ////////media 768px///////// */
@media ( min-width: 768px ) {

    /* ---Header--- */
    .nav-main-menu >ul{
        align-items: stretch;
    }

        .nav-main-menu > ul > li{
            flex-basis: 25%;
        }

        .nav-main-menu > ul > li >a{
            padding-top: 35px;
        }
    
        /* ---Presentation--- */
    .top-presentation{

        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .top-presentation >*{
        flex-basis: 50%;
        }


    
        .avatar-picture{
            width: 350px;
            height: 350px;
            order: -1;
            position: relative;
    
        }

}


/* ////////media 992px///////// */
@media ( min-width: 992px ){


    /* --- "Framework" --- */
    .container {
        /*
            Centrage horizontal automatique d'un bloc
        */
        margin-right: auto;
        margin-left: auto;
        width: 940px;
    }

    /* --- "Compétences" --- */

    .skills-content{
        display: flex;

    }

        .skills-content>*{
            flex-basis: 50%;
        }
}
